<div class="entry-content">
  <div class="ui center aligned icon header">
    <%= image_tag(url_for(@job.featured_image), class: 'circular ui center small', size: "120") %>
  </div>

  <h2 class="ui center aligned icon header"><%= @job.company%></h2>
  
  <div class="ui center horizontal list " style=" display: inline block !important;margin: auto;display: block;">
    <div class="item">
      <div class="content">
        <div class="ui sub header mini button"><%= @job.website %></div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="ui sub header mini button"><%= @job.staff %> staff</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="ui sub header mini button"><%= @job.remoteness %></div>
      </div>
    </div>
  </div>

  <p class="ui center aligned"><strong><%= @job.marketing_blurb %></strong></p>
  <%= @job.content %>

</div>