<%= form_for(@post) do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label "Featured Image" %>
    <%= form.file_field :featured_image %>
  </p>
  
  <% if @post.featured_image.attached? %>
    <p>
      <%= image_tag(@post.featured_image) %>
      <br>
    </p>
  <% end %>

  <p>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
