<%= form_with scope: post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label "Featured Image" %>
    <%= form.file_field :featured_image %>
  </p>

  <p>
    <%= form.label :content %>
    <%= form.rich_text_area :content %>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
