<div id="main" class="site-main blogroll blogroll-grid" role="main">
  <% if (obj) %> 
    <% obj.each do |post| %>
      <article class="blogroll-item post-135 post type-post status-publish format-standard has-post-thumbnail hentry category-explorations">

      <% if post.featured_image.attached? %>
        <%= link_to image_tag(url_for(post.featured_image), class: 'attachment-integer-blog-thumbnail size-integer-blog-thumbnail wp-post-image'), post_path(post), class: 'blogroll-item__thumbnail' %>
      <% end %>
      
      <header class="blogroll-item__header">
        <h2 class="blogroll-item__title">
          <%= link_to post.title , post_path(post) %>
        </h2>
      </header><!-- .blogroll-item__header -->

      <div class="entry-meta entry-meta-index">
        <span class="entry-meta-item posted-on">
          <a href="" rel="bookmark">
          <time class="entry-date published"><%= time_ago_in_words(post.created_at) %> ago</time>
          </a>
        </span>
      </div>

      <div class="blogroll-item__content">
        <%= truncate(strip_tags(post.rich_text_content.to_s), length: 340) %>
        <p><%= link_to "Continue reading " , post_path(post) %></p>
      </div><!-- .blogroll-item__content -->
      
      </article>
    <% end %>
  <% end %>
</div>