<article id="post-<%= @post.id %>" class="post-<%= @post.id %> page type-page status-publish hentry">
  <header class="entry-header" style="text-align: center;">
    <h1 class="entry-title">Editing Post</h1>
    <%= link_to 'Show', @post %> | <%= link_to 'Back', posts_path %>
  </header>

  <div class="entry-content">
    <%= render 'form', post: @post %>
  </div>
</article>