
<div id="main" class="site-main" role="main">
<article id="post-<%= @post.id %>" class="post-<%= @post.id %> page type-page status-publish hentry">
  
  <% if @post.categories.any? %>
    <div class="entry-meta entry-meta-before-title">
      <span class="entry-meta-item cat-links">
        <% @post.categories.each do |category| %>
          <%= link_to "##{category.name}", category_path(category) %> 
        <% end %>
      </span>
    </div>
  <% end %>
  
  <header class="entry-header">
    <h1 class="entry-title"><%= @post.title %></h1>
  </header><!-- .entry-header -->

  <div class="entry-meta entry-meta-before-content">
    <span class="entry-meta-item byline author vcard">
      <span class="author-avatar"><%= gravatar_for @post.user %></span>
      <a class="url fn n" href="/users/<%= @post.user.id %>">
        <%= @post.user.username %>
      </a>
    </span>
    <span class="entry-meta-item posted-on">
      <a href="" rel="bookmark">
        <time class="entry-date published">
        <%= time_ago_in_words(@post.created_at) %></time>
      </a>
    </span>
  </div>

  <% if logged_in? && current_user == @post.user %>
    <div class="entry-meta entry-meta-before-content">
    <span class="entry-meta-item byline author vcard">
      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>
      </span>
    </div>
  <% end %>

  

  <% if @post.featured_image.attached? %>
    <div class="entry-thumbnail">
      <img src="<%= url_for(@post.featured_image) %>" />
    </div>
  <% end %>
 
  <div class="entry-content">
    
    <%= @post.content %>

  </div>

</article>
</div>