<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Zeyada" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="page" class="hfeed site"> 
    
    <% flash.each do |name, msg| %>
      <ul class="highlight">
        <li><%= msg %></li>
      </ul>
    <% end %>
      
      <header id="masthead" class="site-header initial-reveal" role="banner">

        <div class="site-branding">
          <p class="site-title">
            <a href="/" rel="home">endif media</a>
          </p>
        </div><!-- .site-branding -->

        <button id="site-navigation-toggle" class="menu-toggle">
          <i class="fa fa-bars menu-toggle-icon" aria-hidden="true"></i>
          <span class="menu-toggle-text">
            Menu				</span>
        </button><!-- #site-navigation-toggle -->

        <nav id="site-navigation" class="main-navigation" role="navigation">
          <ul id="primary-menu" class="menu" aria-expanded="false">
            <li><a href="/">Home</a> </li>
            <li><a href="https://endif.media/#contact">Contact</a></li>
            <% if logged_in? %>
              <li><%= link_to 'Log out', logout_path, method: :delete %></li>
              <li><%= link_to 'Edit profile', edit_user_path(current_user) %></li>
              <li><%= link_to 'View profile', user_path(current_user) %></li>
            <% end %>
          </ul>			
        </nav><!-- #site-navigation -->
      </header>
    
      
          
          <%= yield %>
        


      <footer id="colophon" class="site-footer" role="contentinfo">	
        <nav id="site-footer-navigation" class="footer-navigation" role="navigation">
          <div class="menu-social-container">
            <ul id="menu-social" class="menu">
              <li><a target="_blank" href="https://www.pinterest.com/ethanthehumble/">Pinterest</a></li>
              <li><a target="_blank" href="https://www.linkedin.com/in/ethanandrewallen/">LinkedIn</a></li>
              <li><a target="_blank" href="https://bitbucket.org/endifmedia/">Bitbucket</a></li>
              <li><a target="_blank" href="https://github.com/endifmedia">Github</a></li>
              <li><a target="_blank" href="https://profiles.wordpress.org/endif-media/">WordPress</a></li>
            </ul>
          </div>
        </nav><!-- #site-navigation -->
      </footer>

    </div><!-- end id page -->
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
